div
  input(type="{{type}}" ng-model="value", ng-attr-placeholder="{{placeholder}}")
  button(ng-click="showPasswordHandler()")
    div
      i.fa.fa-eye(ng-class="showPassword ? 'passw-visible' : ''")
