div(data-app)
  div
    .header-try-me
      .breadcrumb
        a(href=".")
          i.fa.fa-home
        i.fa.fa-chevron-right
        a(x-ng-href="application/{{endpointUrlInfo.applicationName}}?version={{endpointUrlInfo.version || ''}}") {{endpointUrlInfo.applicationName}} {{endpointUrlInfo.version || ''}}
        i.fa.fa-chevron-right
        a(x-ng-href="endpoint/{{endpointUrlInfo.applicationName}}/{{endpointUrlInfo.verb}}/{{endpointUrlInfo.endpointPath}}?version={{endpointUrlInfo.version || ''}}") {{endpointUrlInfo.verb}} {{endpointUrlInfo.endpointPath}} {{endpointUrlInfo.version || ''}}


    div.page-header
      div.header-container
        div.page-title
          a(x-ng-href="endpoint/{{endpointUrlInfo.applicationName}}/{{endpointUrlInfo.verb}}/{{endpointUrlInfo.endpointPath}}?version={{endpointUrlInfo.version || ''}}")
          h2.title {{endpointUrlInfo.verb}} {{endpointUrlInfo.endpointPath}} {{endpointUrlInfo.version || ''}}
        div.bolt-button
          tribe-fab(fab-direction='down' fab-trigger='fabClick' opened-status='addButtonStatus')
            tribe-fab-trigger
              tribe-button(tribe-size='l', tribe-type='fab')
                i.fa.fa-bolt
            tribe-fab-actions
              tribe-button(ng-repeat="opt in mainMenuOptions", tribe-size='m', tribe-type='fab', href="#", ng-click="onPickerSelect(opt);$dropdown.close();")
                i(class="fa {{opt.icon}}")
                div.text {{opt.displayName}}
        div.header-menu
          tribe-dropdown(dropdown-direction='down', pull-direction='left', dropdown-trigger='dropdownClick', auto-close="true")
            tribe-dropdown-trigger
              i.bimg(style="font-size: 25px;")
            tribe-dropdown-list
              span(ng-repeat="opt in menuOptions", ng-click="onPickerSelect(opt);$dropdown.close();")
                div(ng-if="!!opt.displayName").item {{::opt.displayName}}
                div(ng-if="!opt.displayName").separator

    article.try-me
          div.form
            div.form-line
              h2 Request
              div(data-tribe-singleselect, data-editable="true", data-selected-option="request.url", data-placeholder="URL to request")
            div.form-line(ng-if="request.oauth2.$$show")
              div
                div.flexbin
                  h2 OAuth 2
                    div(tribe-option-picker, data-options="oauth2Options", data-change-callback="onPickerSelect(value)")
                    // todo: header name!
                  div
                    div(ng-click="removeOAuth2();").trash
                      i.fa.fa-trash-o
                h3 Token Endpoint
                div(data-tribe-text, data-value="request.oauth2.endpoint", data-placeholder="Click to enter")
              div
                div(ng-if="request.oauth2.$$client")
                  div(ng-click="removeOAuth2Client();").trash
                    i.fa.fa-trash-o
                  div
                    span Client ID
                    div(data-tribe-text, data-value="request.oauth2.clientId")
                  div
                    span Client Secret
                    i(data-tribe-password-field, value="request.oauth2.clientSecret")
                div(ng-if="request.oauth2.$$resourceOwner")
                  div(ng-click="removeOAuth2ResourceOwner();").trash
                    i.fa.fa-trash-o
                  div
                    span Username
                    div(data-tribe-text, data-value="request.oauth2.username")
                  div
                    span Password
                    i(data-tribe-password-field, value="request.oauth2.password")

            div.form-line(ng-if="request.signature.$$show")
              h2 Http Signature
              // todo: header name!
              div
                div(ng-click="removeSignature();").trash
                  i.fa.fa-trash-o
                div
                  div
                    span Algorithm
                    ui-select(ng-model="request.signature.algorithm", placeholder="Signature algorithm", tagging, tagging-label="false", tagging-tokens="ENTER|,")
                      ui-select-match(placeholder="Signature algorithm") {{$select.selected}}
                      ui-select-choices(repeat="p in signatureAlgorithmOptions | filter: $select.search track by $index")
                        div {{p}}
                  div
                    span Key ID
                    div(data-tribe-text, data-value="request.signature.alias")
                  div
                    span KEY
                    i(data-tribe-password-field, value="request.signature.secret")
                  // todo: headers

            div.form-line(ng-if="request.basic.$$show")
              h2 Basic Auth
              div
                div(ng-click="removeBasic();").trash
                  i.fa.fa-trash-o
                div
                  div
                    span Username
                    div(data-tribe-text, data-value="request.basic.username")
                  div
                    span Password
                    i(data-tribe-password-field, value="request.basic.password")
            div.form-line(ng-if="request.digest.$$show")
              h2 Payload digest
              div
                div(ng-click="removeDigest();").trash
                  i.fa.fa-trash-o
                div
                  // todo: header name!
                    div
                      span Header name
                      div(data-tribe-text, data-value="request.digest.header")
                  div
                    span Algorithm
                    ui-select(ng-model="request.digest.algorithm", placeholder="Digest algorithm", tagging, tagging-label="false", tagging-tokens="ENTER|,")
                      ui-select-match(placeholder="Digest algorithm") {{$select.selected}}
                      ui-select-choices(repeat="p in digestOptions | filter: $select.search track by $index")
                        div {{p}}
          div.parameters
            h2 Parameters
            tribe-dropdown(dropdown-direction='down', pull-direction='right', dropdown-trigger='dropdownClick', auto-close="true")
                tribe-dropdown-trigger
                  i.bimg(style="font-size: 25px;")
                tribe-dropdown-list
                  span(ng-repeat="opt in parametersOptions", ng-click="onPickerSelect(opt);$dropdown.close();")
                    div(ng-if="!!opt.displayName").item {{::opt.displayName}}
                    div(ng-if="!opt.displayName").separator
            div
              div(ng-show="headers.length + pathParameters.length + queryParameters.length > 0")
                table
                  thead
                    tr
                      th name
                      th type
                      th placement
                      th required
                      th.description description
                      th values
                      th
                  tbody
                    tr(ng-repeat="h in headers | orderBy:'h.name' track by $index")
                      td
                        ui-select(ng-model="h.name", placeholder="Header name", on-select="onHeaderChange($item, h);", tagging, tagging-label="false", tagging-tokens="ENTER|,")
                          ui-select-match(placeholder="Header name") {{$select.selected}}
                          ui-select-choices(repeat="p in headerOptions | filter:$select.search track by $index")
                            div {{p}}
                      td
                        div {{param.type}}
                      td
                        div header
                      td
                        div {{param.required ? 'Yes' : 'No'}}
                      td.description
                        div {{param.description}}
                      td
                        ui-select(ng-model="h.value", placeholder="Header value", tagging, tagging-label="false", tagging-tokens="ENTER|,")
                          ui-select-match(placeholder="Header value") {{$select.selected}}
                          ui-select-choices(repeat="p in (h.$$proposals || []) | filter:$select.search track by $index")
                            div {{p}}
                      td
                        div
                          i.fa.fa-trash-o(ng-click="removeHeader(h);")
                    tr(ng-repeat="param in pathParameters | orderBy:'p.name' track by $index")
                      td
                        ui-select(ng-model="param.name", placeholder="Parameter name", tagging, tagging-label="false", tagging-tokens="ENTER|,")
                          ui-select-match(placeholder="Parameter name") {{$select.selected}}
                          ui-select-choices(repeat="p in pathParameterOptions | filter:$select.search track by $index")
                            div {{p}}
                      td
                        div {{param.type}}
                      td
                        div path
                      td
                        div {{param.required ? 'Yes' : 'No'}}
                      td.description
                        div {{param.description}}
                      td
                        ui-select(ng-model="param.value", placeholder="Parameter value", tagging, tagging-label="false", tagging-tokens="ENTER|,")
                          ui-select-match(placeholder="Parameter value") {{$select.selected}}
                          ui-select-choices(repeat="p in [param.value] | filter:$select.search track by $index")
                            div {{p}}
                      td
                        div
                          i.fa.fa-trash-o(ng-click="removePathParameter(h);")
                    tr(ng-repeat="param in queryParameters | orderBy:'p.name' track by $index")
                      td
                        ui-select(ng-model="param.name", placeholder="Query parameter name", tagging, tagging-label="false", tagging-tokens="ENTER|,")
                          ui-select-match(placeholder="Query parameter name") {{$select.selected}}
                          ui-select-choices(repeat="p in queryParametersOptions | filter:$select.search track by $index")
                            div {{p}}
                      td
                        div {{param.type}}
                      td
                        div query
                      td
                        div {{param.required ? 'Yes' : 'No'}}
                      td.description
                        div {{param.description}}
                      td
                        ui-select(ng-model="param.value", placeholder="Query parameter value", tagging, tagging-label="false", tagging-tokens="ENTER|,")
                          ui-select-match(placeholder="Query parameter value") {{$select.selected}}
                          ui-select-choices(repeat="p in [param.value] | filter:$select.search track by $index")
                            div {{p}}
                      td
                        div
                          i.fa.fa-trash-o(ng-click="removeQueryParameter(h);")
          div(ng-if="request.method === 'POST' || request.method === 'PUT' || request.$$forceBody")
            h2 Body
            ui-codemirror(ng-model="request.payload", ui-codemirror-opts="payloadOptions")
          div(ng-if="response")
            div
              h2 Response
              span(ng-if="response.status > 0") {{::response.status}}
              span(ng-if="response.status > 0 && response.clientExecutionDurationMs >= 0")
                i.fa.fa-exchange
                span {{response.clientExecutionDurationMs}} ms
              // div {{::response.statusDescription}}
            div(ng-if="response.status > 0")
              div(ng-show="headers.length + pathParameters.length + queryParameters.length > 0")
                table
                  thead
                    tr
                      th name
                      th value
                  tbody
                    tr(ng-repeat="h in response.headers | orderBy:'h.name' track by $index")
                      td {{h.name}}
                      td {{h.value}}
            div(ng-if="response.status > 0")
              ui-codemirror(ng-model="response.payload", ui-codemirror-opts="payloadOptions")
            div(ng-if="response.status <= 0")
              ui-codemirror(ng-model="response.error", ui-codemirror-opts="payloadOptions")
